{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# <div class="ec-headerNaviRole">
    <div class="contents">
        <div class="ec-headerNaviRole__left">
            <div class="ec-headerNaviRole__lsogo">
                {{ include('Block/logo_header.twig') }}
            </div>
        </div>
        <div class="ec-headerNaviRole__center">
        </div>
        <div class="ec-headerNaviRole__right">
            <div class="ec-headerNaviRole__nav">
                {{ include('Block/login.twig') }}
            </div>
        </div>
    </div> #}
{# </div> #}
