{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this ssource code.
#}
<div class="ec-headerRole">
    <div class="ec-headerRole__logo">
        <a href="{{ url('homepage') }}">
            {{ BaseInfo.shop_name }}
        </a>
    </div>
</div>
